<!-- ******************************************
*  Created On : Sun Jan 16 2022
*  Modelo de arquivo HTML para adicionar nova tela de conteúdo dentro do layout estabelecido no arquivo fragmentos/layout.html
******************************************* -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="fragmentos/layout">
    <div th:fragment="conteudo" class="container p-4">
        <!-- insira seu código aqui -->
        <div class="" th:object="${usuario}">
            <h1 class="text-center text-secondary p-3">Ficha do Aluno</h1>
            <div class="container p-3 m-auto border">
            <div class="row">

<div class="col bg-secondary rounded m-3">
        <h2 class="text-center text-white">Dados Pessoais</h2>
        <!---->
        <dt class="col text-center">Aluno (a):</dt>
        <dd class="col text-center">SOLANGE BRASILEIRO DE FREITAS NETO</dd>
        <!---->
        <dt class="col text-center">Data de Nacimento:</dt>
        <dd class="col text-center">2022-02-17</dd>
        <!---->
        <dt class="col text-center">CPF:</dt>
        <dd class="col text-center">11122266698</dd>
        <!---->
        <dt class="col text-center">RG:</dt>
        <dd class="col text-center">454554</dd>
        <!---->
        <dt class="col text-center">Telefone:</dt>
        <dd class="col text-center">5454544</dd>
        <!---->
        <dt class="col text-center">E-mail:</dt>
        <dd class="col text-center">solangebrasileiro001@gmail.com</dd>
      </div>

      <div class="col bg-secondary rounded m-3">
        <h2 class="text-center text-white">Responsaveis</h2>

        <dt class="col text-center">Mãe:</dt>
        <dd class="col text-center">Hshshsh</dd>

        <dt class="col text-center">Pai:</dt>
        <dd class="col text-center">Nsjsjjs</dd>

        <dt class="col text-center">Telefone de Contato:</dt>
        <dd class="col text-center">67544554</dd>

        <dt class="col text-center">Telefone de Contato 2:</dt>
        <dd class="col text-center">575757</dd>

        <dt class="col text-center">E-mail de contato:</dt>
        <dd class="col text-center">Sosjjs@hot.com</dd>

        <dt class="col text-center">E-mail de contato 2:</dt>
        <dd class="col text-center">Ksjsjsj@hot.cokmm</dd>

      </div><div class="col bg-secondary rounded m-3">
        <h2 class="text-center text-white">Endereço</h2>
        <!---->
        <dt class="col text-center">CEP:</dt>
        <dd class="col text-center">38412788</dd>
        <!---->
        <dt class="col text-center">Logradouro:</dt>
        <dd class="col text-center">Jsjsjjsjs</dd>
        <!---->
        <dt class="col text-center">Número:</dt>
        <dd class="col text-center">1234</dd>
        <!---->
        <dt class="col text-center">Estado:</dt>
        <dd class="col text-center">Mg</dd>
        <!---->
        <dt class="col text-center">Cidade:</dt>
        <dd class="col text-center">Sghhshss</dd>
        <!---->
        <dt class="col text-center">País:</dt>
        <dd class="col text-center">Brasil</dd>

      </div><div class="col bg-secondary rounded m-3">
        <h2 class="text-center text-white">Dados Escolares</h2>

        <dt class="col text-center">Matricula:</dt>
        <dd class="col text-center">282772</dd>

        <dt class="col text-center">Data de Mátricula:</dt>
        <dd class="col text-center">2022-02-05</dd>
    </div>
    </div><!-- insira seu código aqui -->
  </div>

<div class="row p-5"></div>
    </div>
</html>
